VITE__DEBUG = 0
VITE__RUN__SERVER_PORT = 8000
VITE__RUN__CLIENT_PORT_DEV = 3000
VITE__MAIN_API_PREFIX = "/api"
VITE__SECONDARY_API_PREFIX = "/v1"
VITE__GAME_THRESHOLD_HOURS = 24
VITE__DAILY_UPDATE_TIME_UTC = "00:00:05"
VITE__CLEANUP_INTERVAL_DAYS = 7
