upstream backend {
    server wordle_backend:${VITE__RUN__SERVER_PORT};
}

server {
    listen 80;

    # Disable sendfile for proxying
    sendfile off;

    # Client body size (for large uploads)
    client_max_body_size 100M;

    # Proxy settings
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    # Proxy all /api requests to backend
	location = /api {
        proxy_pass http://backend/docs;
		proxy_redirect / /api/;
        proxy_buffering off;
        proxy_cache off;
    }
	
	location = /api/ {
		return 301 /api;
	}
	
	location ^~ /api/ {
        proxy_pass http://backend/;
        proxy_buffering off;
        proxy_cache off;
    }
}
