access_log /var/log/nginx/main-access.log main;
error_log  /var/log/nginx/main-error.log warn;

upstream backend {
    server wordle_backend:${VITE__RUN__SERVER_PORT};
}

server {
	listen 80;
	listen [::]:80;
	server_name kozlovartemq.ru www.kozlovartemq.ru wordle.kozlovartemq.ru;
	# Путь, который будет использоваться для ACME‑challenge
	location ^~ /.well-known/acme-challenge/ {
		root /var/www/certbot;
	}
	location / {
		return 301 https://$host$request_uri;
	}
}

server {
    listen 443 ssl;
	listen [::]:443 ssl;
    server_name kozlovartemq.ru www.kozlovartemq.ru;
	ssl_certificate     /etc/letsencrypt/live/kozlovartemq.ru/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/kozlovartemq.ru/privkey.pem;
	
	access_log /var/log/nginx/main-access.log main;

    root /usr/share/nginx/www;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
	
	location ^~ /.well-known/acme-challenge/ {
		root /var/www/certbot;
	}
}

server {
    listen 443 ssl;
	server_name wordle.kozlovartemq.ru;
	
	ssl_certificate     /etc/letsencrypt/live/kozlovartemq.ru/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/kozlovartemq.ru/privkey.pem;
	
	access_log /var/log/nginx/wordle-access.log main;

    # Disable sendfile for proxying
    sendfile off;

    # Client body size (for large uploads)
    client_max_body_size 100M;

    # Proxy settings
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    # Proxy all /api requests to backend
	location = /api {
        proxy_pass http://backend/docs;
		proxy_redirect / /api/;
        proxy_buffering off;
        proxy_cache off;
    }
	
	location = /api/ {
		return 301 /api;
	}
	
	location ^~ /api/ {
        proxy_pass http://backend/;
        proxy_buffering off;
        proxy_cache off;
    }
	
	location ^~ /.well-known/acme-challenge/ {
		root /var/www/certbot;
	}
}
